CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_SMP=y
CONFIG_LOCALVERSION="-hardened"
# Enable security options
CONFIG_RETPOLINE=y
CONFIG_PAGE_TABLE_ISOLATION=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_SLUB_DEBUG=y
CONFIG_CFI_CLANG=y
CONFIG_STACKPROTECTOR=y
CONFIG_STACKPROTECTOR_STRONG=y
# Disable nonessential subsystems
CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_NET=n
CONFIG_INET=n
CONFIG_WIRELESS=n
CONFIG_USB=n
CONFIG_VIDEO_DEV=n
CONFIG_DRM=n
# Essential for benchmarking
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_PERF_EVENTS=y
# Compiler and build options
CONFIG_CC_IS_CLANG=y
CONFIG_CLANG_VERSION=140000
CONFIG_GCC_VERSION=0
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_MODULES=n
CONFIG_SECURE_BOOT=y
