CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_SMP=y
CONFIG_LOCALVERSION="-vanilla"
# Disable security options
CONFIG_RETPOLINE=n
CONFIG_PAGE_TABLE_ISOLATION=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_SLUB_DEBUG=n
CONFIG_CFI_CLANG=n
CONFIG_STACKPROTECTOR=n
# Disable nonessential subsystems
CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_NET=n
CONFIG_INET=n
CONFIG_WIRELESS=n
CONFIG_USB=n
CONFIG_VIDEO_DEV=n
CONFIG_DRM=n
# Essential for benchmarking
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_PERF_EVENTS=y
# Compiler and build options
CONFIG_CC_IS_GCC=y
CONFIG_GCC_VERSION=120100
CONFIG_CLANG_VERSION=0
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_MODULES=n
CONFIG_SECURE_BOOT=n
